numpy
pandas
matplotlib
tqdm
pyyaml
rich
scikit-learn

timm
torchmetrics
tensorboard

monai
nibabel
SimpleITK
pydicom
scikit-image
opencv-python

segmentation-models-pytorch
albumentations

jupyterlab
ipykernel
